!!!
%html
  %head
    %title AgentMooney.com
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Oxygen:400,300,700'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Sanchez'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = favicon_link_tag 'favicon.ico'
  %body.starry
    %header
      %nav
        %ul
          %li=link_to "Home", root_path
          %li=link_to "Bio", bio_path
          %li=link_to "Music", music_path
          / %li=link_to "Shows", shows_path
          / %li=link_to "News", news_path
          %li=link_to "Contact", contact_path
      .social-links-container
        .social-links
          =link_to((image_tag "twitter.png", :class => 'social-img'), '#', :class => 'img-link')
          =link_to((image_tag "facebook.png", :class => 'social-img'), '#', :class => 'img-link')
      .logo-wrapper
        .squeeze_marketing
          =render "squeeze"
        =link_to((image_tag "logo_burgundy_transparent_25percent.gif", :class => 'logo'), root_path)
    
    = yield

    %footer
