!!!
%html
  %head
    %title AgentMooney.com
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Oxygen'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      .trees=image_tag('background_trees_with_logo.jpg')
    
      %nav
        %ul
          %li=link_to "Home", root_path
          %li=link_to "Music", music_path
          %li=link_to "Shows", shows_path
          %li=link_to "News", news_path
          %li=link_to "FAQ", faq_path
          %li=link_to "Contact", contact_path
    = yield
